.mlvwm/pixmap/mini*.xpm
.mlvwm/pixmap/0ad.xpm
.mlvwm/pixmap/chromium.xpm
.mlvwm/pixmap/claws-mail.xpm
.mlvwm/pixmap/cool-retro-term.xpm
.mlvwm/pixmap/firefox.xpm
.mlvwm/pixmap/godot.xpm
.mlvwm/pixmap/iridium.xpm
.mlvwm/pixmap/links.xpm
.mlvwm/pixmap/mpv.xpm
.mlvwm/pixmap/qemu.xpm
.mlvwm/pixmap/scummvm.xpm
.mlvwm/pixmap/vlc.xpm
.mlvwm/pixmap/zeal.xpm
tmp
