.mlvwm/pixmap/mini*.xpm
.mlvwm/pixmap/chromium.xpm
.mlvwm/pixmap/claws-mail.xpm
.mlvwm/pixmap/cool-retro-term.xpm
.mlvwm/pixmap/iridium.xpm
.mlvwm/pixmap/mpv.xpm
.mlvwm/pixmap/vlc.xpm
.mlvwm/pixmap/zeal.xpm
tmp
