mini*.xpm
0ad.xpm
audacity.xpm
chromium.xpm
claws-mail.xpm
cool-retro-term.xpm
firefox.xpm
gkrellm.xpm
godot.xpm
iridium.xpm
leafpad.xpm
links.xpm
mpv.xpm
netsurf.xpm
qemu.xpm
scummvm.xpm
smplayer.xpm
solvespace.xpm
vimb.xpm
vlc.xpm
xpdfreader.xpm
zeal.xpm
